.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  margin-bottom: 60px;
  margin-top:-100px;
}
.step_navigation{
  display: flex;
  margin-bottom: 2rem;
  transform: translateX(-20px);
}
.step{
  width: 360px;
  height: 80px;
  padding: 30px 0;
  background-color: white;
  box-shadow: var(--shadow-soft);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
  position: relative;
}
.step:first-child{
  width: 340px;
}
.step::after{
  position: absolute;
  right: -29px;
  content: "";
  height: 57px;
  aspect-ratio: 1/1;
  background-color: white;
  transform: rotate(45deg);
  box-shadow: var(--shadow-soft-right);
}
.one{
  z-index: 100;
}
.two{
  z-index: 99;
}
.three{
  z-index: 98;
}
.active,
.step.active::after{
  background-color: var(--grey-light)
}
.circle{
  width: 24px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(90deg, var(--purple), var(--pink));
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: white;
  margin-left: 50px;
}
.title{
  opacity: 0.7;
  z-index: 101;
}
@media (min-width: 2100px) {
  .container{
    margin-top:-250px;
  }
}
@media (max-width: 1200px) {
  .step{
    width: 280px;
    height: 60px;
    padding: 30px 0;
  }
  .step:first-child{
    width: 280px;
  }
  .step::after{
    height: 42px;
    right: -21px;
  }
}
@media (max-width: 950px) {
  .step{
    width: 200px;
    height: 60px;
    padding: 30px 0;
    font-size: .9rem;
  }
  .step:first-child{
    width: 180px;
  }
  .circle{
    width: 20px;
  }
}
@media (max-width: 650px) {
  .step{
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 80px;
    padding: 30px 0;
    font-size: .8rem;
  }
  .step:first-child{
    width: 80px;
  }
  .step:first-child .title{
    padding-left: 30px;
  }
  .step:first-child .circle{
    margin-left: 30px;
  }
  .step::after{
    height: 57px;
    right: -29px;
  }
  .circle{
    width: 20px;
    margin-left: 50px;
    z-index: 1000;
  }
  .title{
    width: 100%;
    text-align: center;
    padding-left: 50px;

  }
}
