.container{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.step_navigation{
  /* border: white solid 1px; */
  color: antiquewhite;
  display: flex;
}
.step{
  background-color: rgba(255, 255, 255, 0.1);
  width: 230px;
  padding: 30px 0;
  text-align: center;
  clip-path: polygon(
    0 0,
    calc(100% - 20px) 0,
    100% 50%,
    calc(100% - 20px) 100%,
    0 100%
  );
}
/* .step_controls{
  border: 1px solid pink;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.step_controls__prev,
.step_controls__next{
  cursor: pointer;
} */
.active{
  background-color: rgba(255, 255, 255, 0.35);
}