.container{
  /* border: 1px solid greenyellow; */
  transform: translateY(-40px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.wrapper{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  width: clamp(400px, 80vw, 1200px);
}

.title{
  font-size: 2.2rem;
  color: var(--purple);
}
.subtitle{
  font-size: 1.2rem;
  color: var(--grey);
  opacity: 0.8;
  font-weight: 500;
}
.content{
  /* border: 1px pink solid; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
  grid-gap: 1rem;
  width: clamp(400px, 80vw, 1300px);
}

.message{
  margin: 40px;
  color: var(--grey);
  opacity: 0.6;
  font-size: 1.2rem;
}
/* .heart{
  width: 20px;
  aspect-ratio: 1/1;
  fill: var(--dusty-pink);
  vertical-align: middle;
} */
 @media (max-width: 800px){
  .content{
    justify-content: center;

  }
}
@media (max-width: 600px){
  .content{
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(190px, 190px));
    padding: 0 30px;
  }
  .wrapper{
    width: 100%;
    justify-content: center;
  }
}
