.container{
  border: 1px white solid;
  margin-top: 60px;
  display: flex;
  gap: 2rem;
  width: 100%;
}

.products{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.filter_btn{
  font-weight: bold;
  cursor: pointer;
}


/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}