.container{
  transform: translateY(-100px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.main_content{
  display: flex;
  gap: 2rem;
  width: clamp(400px, 80vw, 1300px);
}
.products{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
  grid-gap: 1rem;
}
.category_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 40px;
  width: clamp(400px, 80vw, 1200px);
}
.p{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--grey);
  opacity: 0.85;
}
.category{
  font-size: 3rem;
  color: var(--purple);
}
.subtitle{
  font-size: 1.2rem;
  color: var(--grey);
  opacity: 0.8;
}
/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;     /*--- input arrows hidden*/
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;   /*--- input arrows hidden*/
}
.empty_filter{
  color: var(--grey);
  grid-column: 1 / -1;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: start;
}
.message{
  margin: 40px;
  color: var(--grey);
  opacity: 0.6;
  font-size: 1.2rem;
}
@media (min-width: 2100px) {
  .container{
      transform: translateY(-160px);
  }
}
@media (max-width: 1255px){
  .main_content{
    flex-direction: column;
  }
  .products{
    justify-content: center;
  }
}
@media (max-width: 600px){
  .products{
    grid-template-columns: repeat(auto-fit, minmax(190px, 190px));
  }
}
@media (max-width: 550px){
  .container{
    width: 100%;
  }
  .category_wrapper{
    width: min-content;
  }
  .main_content{
    width: min-content;
  }
  .message{
    font-size: 1rem;
  }
}