.container{
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 12px;
  border-radius: 14px;
  color: var(--grey);
}
.product_review{
  display: flex;
}
.cart_product_img{
  width: 130px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 16px;
  cursor: pointer;
}
.info{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
}
.info.mini{
  gap: 0.1rem;
}
.product_name{
  font-size: 1rem;
  padding-right: 12px;
}
.unit_price{
  opacity: 0.8;
  font-size: 0.9rem;
}
.mini .unit_price{
  font-size: 0.8rem;
}
.qnt_section{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .3rem;
  width: min-content;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2px;
}
.qnt_section.mini .input{
  width: 16px;
  padding: 4px;
}
.qnt_section.mini .qnt_control{
  width: 20px;
}
.input{
  width: 32px;
  outline: none;
  border: none;
  text-align: center;
  padding: 8px;
  border-radius: 12px;
  color: var(--grey);
  opacity: 0.8;
}
.qnt_control{
  border: none;
  background-color: transparent;
  color: var(--grey);
  width: 28px;
  aspect-ratio: 1/1;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.8rem;
}
.price{
  text-align: right;
  font-size: 1.5rem;
  color: var(--purple);
}
.remove_button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: auto;
}
.mini .svg_bin{
  width: 16px;
}
.svg_bin{
  width: 20px;
  aspect-ratio: 1/1;
  stroke-width: 1.5;
  stroke: var(--grey);
  transition: transform 0.3s ease;
  opacity: 0.5;
}
.remove_button:hover .svg_bin{
  transform: scale(1.1);
}

/* ----------------- mini ----------------- */
.container.mini{
  display: flex;
  border-radius: 12px;
  padding: 12px
}
.cart_product_img.mini{
  width: 90px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 650px){
  .container{
    padding: 8px;
  }
  .info{
    gap: .15rem;
  }
  .product_name{
    font-size: .9rem;
  }
  .price{
    font-size: 1.2rem;
  }
  .cart_product_img{
    width: 110px;
  }
  .qnt_section .input{
    width: 16px;
    padding: 4px;
  }
  .qnt_section .qnt_control{
    width: 20px;
  }
  .svg_bin{
    width: 16px;
  }
}