.container{
  border: 1px solid aqua;
  display: flex;
  justify-content: space-between;
}
.product_review{
  display: flex;
  border: 1px solid greenyellow;
}
.cart_product_img{
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.input{
  pointer-events: none;
  width: 24px;
  text-align: center;
}
.price{
  border: 1px solid yellow;
  text-align: right;
}
/* ----------------- mini ----------------- */
.container.mini{
  display: flex;
  /* justify-content: space-between; */
  /* width: 100%; */
}
.cart_product_img.mini{
  width: 80px;
  aspect-ratio: 1/1;
  object-fit: cover;
}