.container{
  border: 1px solid yellow;
  width: clamp(400px, 80%, 1000px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.billing_info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.radio_option{
  border: 1px solid purple;
  width: 300px;
  display: flex;
  justify-content: space-between;
}