.form{
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--grey);
  /* border: 1px solid blue; */
}
.container{
  /* border: 1px solid yellow; */
  width: clamp(400px, 80%, 1000px);
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.delivery_info {
  border: 1px solid var(--grey-medium);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 520px;
  width: 100%;
  min-width: 320px;
}
.form_section{
  display: flex;
  flex-direction: column;
  gap: .2rem;
  /* border: 1px solid blue; */
}
.title{
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 8px;
}
.input_container{
  border: 1px solid var(--grey-medium);
  /* display: flex; */
  padding: 8px;
  border-radius: 4px;
  align-items: center;
  gap: .8rem;
  position: relative;
}
/* .empty{
  border: 2px solid var(--pink);
} */
 .empty{
  color: var(--pink);
 }
.input{
  margin-right: 4px;
  accent-color: var(--pink-input);
  cursor: pointer;
}

/* input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 2px solid #999;
  border-radius: 4px;
}
input[type="checkbox"]:checked {
  background: #4caf50;
  border-color: #4caf50;
}
input[type="checkbox"]:checked::after {
  content: "";
} */
.price{
  position: absolute;
  right: 4px;
  display: inline;
  margin-left: auto;
  font-weight: 600;

  /* opacity: 0.6; */
  font-size: .9rem;
  color: var(--pink);
}
.label{
  width: 120px;
  color: var(--grey);
  opacity: 0.8;
  font-size: 0.9rem;
  cursor: pointer;
  /* border: 1px solid rgb(195, 0, 255); */
}
.step_controls{
  width: clamp(400px, 80%, 1000px);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.step_controls__prev,
.step_controls__next{
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}
.step_controls__prev{
  background-color: transparent;
  opacity: 0.5;
  text-decoration: underline;
}
.step_controls__next{
  background-color: var(--pink);
  color: white;
  padding: 12px 14px;
  border-radius: 20px 0;
  box-shadow: var(--shadow-soft);
  transition: all 0.3s ease;
  opacity: 0.9;
  margin-right: 20px;
}
.step_controls__next:hover{
  opacity: 1;
}
@media (max-width: 800px){
  .container{
    flex-direction: column;
    align-items: center;
  }
  .delivery_info{
    max-width: 530px;
  }
  .step_controls{
    width: 100%;
  }
  .step_controls__next{
    margin: 0;
  }
}