.bin{
  stroke: black;
  fill: none;
  width: 16px;
  aspect-ratio: 1/1;
}
/* .container{
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.image_container{
  position: relative;
}
.heart_circle{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white  ;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.heart{
  stroke: grey;
  fill: none;
  width: 16px;
  aspect-ratio: 1/1;
  transition: all 0.3s ease;
}
.heart_circle:hover .heart{
  stroke: #E49FC5;
}
.fav{
  fill: #E49FC5;
}
.img{
  width: 180px;
  aspect-ratio: 1/1.2;
  object-fit: cover;
  cursor: pointer;
}
.product_description{
  font-size: 1rem;
  cursor: pointer;
}
.product_name{
  font-size: 1.2rem;
  font-weight: bold;
}
.purchase_section{
  display: flex;
  gap: 0.5rem;
} */