.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.overlay span{
  position: relative;
}
.overlay img {
  max-width: 70vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 20px;
}
.close_btn{
  position: absolute;
  top: -32px;
  right: 0;
}
.prev,
.next{
  position: absolute;
  top: 50%;
}
.prev{
  left: -32px;
}
.next{
  right: -32px;
}