.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.container{
  position: relative;
}
.img {
  max-width: 70vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 20px;
}
.close_btn,
.prev_btn,
.next_btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.close_btn{
  position: absolute;
  top: 8px;
  right: 10px;
}
.prev_btn,
.next_btn{
  position: absolute;
  top: 50%;
}
.prev_btn{
  left: -32px;
}
.next_btn{
  right: -32px;
}
.svg{
  width: 20px;
  aspect-ratio: 1/1;
  stroke: white;
  stroke-width: 1.5;
  opacity: 0.8;
}