.review{
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width:360px;
  background-color: var(--grey-light);
  padding: 12px;
  border-radius: 12px;
  /* height: clamp(min-content,min-content, 520px);
  */
  height: auto;
  max-height: 460px;

  position: relative;
  color: var(--grey);
}
.cart_summary{
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.product_review{
  /* border: 1px solid blue; */
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  display: grid;
  grid-template-columns: 90px auto auto;
}
.product_review .img{
  width: 80px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 12px;
}
.product_name{
  /* font-weight: ; */
  font-size: .9rem;
}
.qnt{
  opacity: 0.5;
  /* color: var(--pink); */
}
.price_review{
  justify-self: flex-end;
  margin-left: 12px;
  font-size: 1.2rem;
  /* font-weight: 00; */
  color: var(--purple);
}
.total_price_container{
  background-color: white;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.summary_section{
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  gap: .2rem;
  padding: 12px;
  border-top: 1px solid var(--grey-medium);
  border-bottom: 1px solid var(--grey-medium);
}
.row{
  /* border: 1px solid purple; */
  display: flex;
  /* justify-content: end; */
  /* font-size: 0.9rem; */
  opacity: 0.9;
}
.supporting_text{
  /* margin-right: auto; */
  opacity: 0.7;
  width: 70px;
}
.summary_section_price{
  margin-left: auto;
}
.secondary_text{
  opacity: 0.8;
  font-size: 1rem;
}
.secondary_text.gift{
  text-align: right;
  margin-right: 8px;
  opacity: 0;
}
.gift.active{
  opacity: 0.8;
}
.total_price{
  text-align: right;
  font-size: 1.3rem;
  color: var(--purple);
  font-weight: 600;
}
@media (max-width: 800px){
  .review{
    width: 100%;
    /* height: 320px; */
  }
  .cart_summary{
    max-height: 320px;

  }
}