@font-face {
  font-family: "Bumerang";
  src: url("/src/assets/fonts/Bumerang-Regular.ttf") format("truetype");
  /* font-weight: 400; */
  /* font-style: normal; */
  /* font-display: swap; */
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
}
:root{
  --grey: rgb(23, 23, 23);
  --grey-medium:rgb(164, 164, 164);
  --grey-light: rgb(238, 238, 238);
  --pink: rgb(228, 159, 197);
  --pink-input: rgba(208, 80, 148, 0.82);
  --dusty-pink:rgb(241, 216, 217);
  --purple: rgb(106, 94, 160);
  --shadow: 3px 3px 4px rgb(135, 135, 135);
  --shadow-soft: 2px 2px 4px rgb(175, 175, 175);
  --shadow-soft-right: 4px -3px 4px 0px rgba(175, 175, 175, 0.557);

  --logo-font: "Bumerang"
}
